<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.espranza.cordova.payubiz" version="1.0.0">

    <name>CCAvenue Cordova</name>
    <js-module name="CCAvenue Cordova" src="www/payUBiz.js">
        <clobbers target="cordova.plugins.payUBiz" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PayUBizCordova">
                <param name="android-package" value="com.espranza.cordova.payubiz.PayUBizCordova" />
            </feature>
            <feature name="PayUMainActivity">
                <param name="android-package" value="com.espranza.cordova.payubiz.PayUMainActivity" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />

        <edit-config file="AndroidManifest.xml" target="/manifest/uses-permission" mode="merge">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity" mode="merge">
            <activity android:name="com.espranza.cordova.payubiz.PayUMainActivity" />
        </edit-config>
        <source-file src="src/android/PayUBizCordova.java" target-dir="src/com/espranza/cordova/payubiz/" />
        <source-file src="src/android/PayUMainActivity.java" target-dir="src/com/espranza/cordova/payubiz/" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <lib-file src="src/android/libs/sdkui.aar" />

    </platform>
</plugin>